<launch>
  <arg name="namespace" default="hh"/>
  <group ns="$(arg namespace)">
    <node name="servo_ik"
          type="servo_ik_node.py"
          pkg="servo_ik"
          output="screen">
      <param name="group_name" value="$(arg namespace)_arm" />
      <remap from="state/pose" to="state/CartesianPose"/>
      <remap from="state/wrench" to="state/CartesianWrench"/>
      <remap from="command/pose" to="command/CartesianPose"/>
    </node>
  </group>
</launch>
